.Main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 100%;
  overflow-y: auto;
  /* background-color: yellow; */
}
.Footer, .Header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: teal; */
  width: 100%;
  height: 5vh;
  background-color: rgb(202, 86, 105);
}

.Main .inputLabel {
  display: flex;
  justify-content: space-between;
}

img.pesci {

  cursor: pointer;
}
